.primary {
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('../../assets/images/background.svg') center center no-repeat;
    background-size: contain;
    width: auto;
    height: 400px;
    position: relative;

}

@media screen and (max-width: 600px) {
    .primary {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 19px 0;
    }
}

.primary__title {
    width: 730px;
    line-height: 42px;
    font-size: 52px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    margin: 0 0 0 64px;
    padding: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.primary__button {
    position: absolute;
    z-index: 3;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary__button:hover {
    transform: scale(110%);
    transition: transform 0.5s;
}

.primary__yes {
    background: url('../../assets/images/upperbutton.svg')  no-repeat;
    width: 153px;
    height: 149px;
    top: 0;
    left: 100px;
}

.primary__quote {
    background: url('../../assets/images/rightbutton.svg')  no-repeat;
    width: 191px;
    height: 159px;
    top: 240px;
    right: 0;
}

.primary__three {
    background: url('../../assets/images/leftbutton.svg')  no-repeat;
    width: 228px;
    height: 188px;
    left: 100px;
    top: 300px;
}