.quote {
    background-color: #8ed3f4;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    background-size: contain;
    width: auto;
    height: calc(100vh - 120px);
    position: relative;
    align-items: center;
    justify-content: center;
}

.quote__rectangle {
    min-height: 150px;
    max-width: 50%;
    z-index: 2;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.quote__appendix {
    border: 1px solid white;
    padding: 10px;
    background: white;
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 100px;
    transform: rotate(45deg) skewX(60deg);
    clip-path: polygon(0 100%, 100% 100%,100% 0);
}

.quote__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#id_quote_text {
    display: block;
    font-family: 'HelveticaBoldItalic';
    text-shadow: 4px 4px 5px darkgrey;
    line-height: 1.4;
    margin-top: 20px;
    animation: text__slidein 2s;

}

#id_quote_author {
    z-index: 3;
    font-family: 'HelveticaRegular';
    margin-top: 20px;
    animation: author__slidein 2s
}


@keyframes author__slidein {

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes text__slidein {

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

}